@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    position: relative;
    text-align: center;
    
}

img {
    width: 600px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 10px;
    margin-top: 10px;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}
.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}
.header ul, .footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.header li, .footer li {
    padding: 10px;
}
.footer ul li a, .header ul li a {
    text-decoration: none;
}
.header {
    top: 0;
}
.footer {
    bottom: 0;
    background: rgb(235, 235, 235);
}
.content {
    margin: 150px auto;
    flex: 1;

}
.footer a,.footer a:hover,.header a,
.header a:hover {
    color: black;
    
}