@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-font-family: "Roboto", serif;
    --hder-fter-bg-color-dark: #1F2937;
    --h1-font-size: 48px;
    --h1-font-color: #F9FAF8;
    --h1-font-weight: 900;
    --p-nav-font-size: 18px;
    --p-nav-color: #E5E7EB;
    --hder-logo-font-size: 24px;
    --hder-logo-color: #F9FAF8;
    --button-bg-call-to-action: #3882F6;
    --article-h2-font-size: 36px;
    --article-h2-color: #1F2937;
    --article-h2-font-weight: 900;
    --fig-bq-bg-color: #E5E7EB;
    --fig-bq-font-size: 36px;
    --fig-bq-font-style: light italic;
    --fig-bq-color: #1F2937;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto" "serif";
}
img {
      border: 2px solid black;
      display: block;
      min-width: 100%;
      height: auto;
      /*flex: 1 1 90;*/
}
.wraper {
    display: flex;
    flex-direction: column;
}
.main-wrper {
    background: var(--hder-fter-bg-color-dark);
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
    gap: 10%;
}
.main-wrper figure {
    flex:1 1 161px ;

}
.main-wrper ul {
    flex: 1 1 954px;
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}
.main-wrper li {
    text-decoration: none;
    flex: 1 1 250px;
    text-align: center;
}
.main-section {
    display: flex;
    flex-wrap: wrap;
    background: var(--hder-fter-bg-color-dark);
}
.main-section h2 {
    font-size: var(--h1-font-size);
    color: var(--h1-font-color);
    font-weight: var(--h1-font-weight);
}
.main-section p, .wraper li {
    font-size: var(--p-nav-font-size);
    color: var(--p-nav-color);
}
.main-section .first-section {
    flex: 1 1 371px;

}
.main-section .img-section {
    flex: 1 1 371px;
}
.information-section {
    display: flex;
    flex-direction: column;
    
}
.information-section h2 {
    text-align: center;
    font-size: var(--article-h2-font-size);
    color: var(--article-h2-color);
    font-weight: var(--article-h2-font-weight);
}
.information-card-wraper {
    display: flex;
    flex-wrap: wrap; 

}
.information-card-wraper .card-figure-wraper  {
   flex: 0 1 200px;
}
.information-card-wraper .card-img {
    min-width: 200px;
    height: 150px;
    border: 2px solid lightblue;
    border-radius: 15px;
}

.card-wraper {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
    justify-content: center;
    align-items: center;
}
.information-card-wraper p {
    text-align: center;
    flex-basis: 199px;
}
.button-wraper button {
    background: var(--button-bg-call-to-action);

}
.qt-wraper {
    background: var(--fig-bq-bg-color);
    color: var(--fig-bq-color);
    font-size: var(--fig-bq-font-size);
    font-style: var(--fig-bq-font-style);
}
.call-style-wraper {
    background: var(--button-bg-call-to-action);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.call-wraper h4 {
    font-size: var(--article-h2-font-size);
    color: var(--p-nav-color);
    
}
.call-wraper p {
    font-size: var(--p-nav-font-size);
    color: var(--p-nav-color);

}
footer {
    background: var(--hder-fter-bg-color-dark);
    text-align: center;
}
