* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
      border: 2px solid black;
      display: block;
      min-width: 100%;
      height: auto;
      /*flex: 1 1 90;*/
}
.wraper {
    display: flex;
    flex-direction: column;
}
.main-wrper {
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
    gap: 10%;
}
.main-wrper figure {
    flex:1 1 161px ;

}
.main-wrper ul {
    flex: 1 1 954px;
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}
.main-wrper li {
    text-decoration: none;
    flex: 1 1 250px;
    text-align: center;
}
.main-section {
    display: flex;
    flex-wrap: wrap;
}
.main-section .first-section {
    flex: 1 1 371px;

}
.main-section .img-section {
    flex: 1 1 371px;
}
.information-section {
    display: flex;
    flex-direction: column;
    
}
.information-section h2 {
    text-align: center;
}
.information-card-wraper {
    display: flex;
    flex-wrap: wrap; 

}
.information-card-wraper .card-img {
    width: 200px;
    height: 150px;
    border: 2px solid lightblue;
    border-radius: 15px;
}
.card-wraper {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 250px;
    justify-content: center;
}
.information-card-wraper p {
    text-align: center;
    flex: 0 0 205px;
}